<!-- app.component.html -->
<form [formGroup]="applicationForm" (ngSubmit)="onSubmit()">
  <!-- Job Information -->


  <div *ngIf="currentFormGroup === 'jobInformation'" class="form-group" formGroupName="jobInformation">
    <h2 class="form-group-title">Job Information</h2>
    <label for="jobTitle">Job Title:</label>
    <input id="jobTitle" formControlName="jobTitle" />

    <label for="jobDescription">Job Description:</label>
    <textarea id="jobDescription" formControlName="jobDescription"></textarea>

    <label for="jobLocation">Job Location:</label>
    <input id="jobLocation" formControlName="jobLocation" />
    <button type="submit">Next</button>
    <button type="submit" (click)="onSkip()">Skip</button>
  </div>

  <!-- Applicant Information -->
  <div *ngIf="currentFormGroup === 'applicantInformation'" class="form-group" formGroupName="applicantInformation">
    <h2 class="form-group-title">Applicant Information</h2>
    <!-- Personal Information -->
    <div formGroupName="personalInformation">
      <label for="name">Name:</label>
      <input id="name" formControlName="name" />

      <label for="contactDetails">Contact Details:</label>
      <input id="contactDetails" formControlName="contactDetails" />

      <label for="address">Address:</label>
      <input id="address" formControlName="address" />


      <!-- New controls added -->
      <label for="resumeCV">Resume/CV:</label>
      <input id="resumeCV" formControlName="resumeCV" />

      <label for="coverLetter">Cover Letter:</label>
      <input id="coverLetter" formControlName="coverLetter" />

      <label for="portfolio">Portfolio:</label>
      <input id="portfolio" formControlName="portfolio" />


      <button type="submit">Next</button>
      <button type="button" (click)="onPrevious()">Previous</button>
    </div>

    <!-- Other fields for resume, cover letter, portfolio, etc. -->
  </div>

  <!-- Application Details -->
  <div *ngIf="currentFormGroup === 'applicationDetails'" class="form-group" formGroupName="applicationDetails">
    <h2 class="form-group-title">Applicant Details</h2>

    <label for="applicationDate">Application Date:</label>
    <input id="applicationDate" formControlName="applicationDate" />

    <label for="applicationStatus">Application Status:</label>
    <input id="applicationStatus" formControlName="applicationStatus" />
    <button type="button" (click)="onPrevious()">Previous</button>
    <button type="submit" (click)="onReview()">Review</button>

  </div>

<!-- Review Section -->
<div *ngIf="showReviewSection" class="review-section">
  <h2>Review Details</h2>
  
  <ng-container *ngFor="let control of getFlattenedControls(applicationForm) | keyvalue">
    <div>
      <strong>{{ control.key }}:</strong> {{ control.value }}
    </div>
  </ng-container>


  <button type="button" (click)="onEdit()">Edit</button>
  <button type="button" (click)="onSubmit()">Final Submit</button>
</div>


  <!-- Add HTML for other form sections -->

</form>